[Desktop Entry]
Type=Application
Version=<version>

Name=WebStorm

Icon=/usr/share/jetbrains-webstorm/bin/webstorm.png
Comment=IDE for javascript related technologies
Keywords=development;web;ide;js;javascript;
Categories=Development;IDE;

Terminal=false
StartupNotify=true
StartupWMClass=jetbrains-webstorm
X-MultipleArgs=false
Exec=/usr/share/jetbrains-webstorm/bin/webstorm.sh

