[Desktop Entry]
Type=Application
Version=<version>

Name=Datagrip
GenericName=SQL IDE

Icon=/usr/share/jetbrains-datagrip/bin/datagrip.png
Comment=IDE for SQL development
Keywords=development;sql;ide;
Categories=Development;IDE;

Terminal=false
StartupNotify=true
StartupWMClass=jetbrains-datagrip
X-MultipleArgs=false
Exec=/usr/share/jetbrains-datagrip/bin/datagrip.sh
